.categories {
  align-items: center;
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  scroll-behavior: smooth;
  width: 100%;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: var(--Cards-Color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  flex: none;
  font-size: small;
  font-weight: 600;
  margin: 10px;
  padding: 10px 7px;
  width: 33%;
}

.categoryActive {
  background-color: var(--Buttons-Color);
  border: none;
  border-radius: 10px;
  color: white;
  flex: none;
  font-size: small;
  font-weight: 800;
  margin: 10px;
  padding: 10px 7px;
  width: 30%;
}

.cardsRecipe {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  width: 90%;
}

.cardRecipe {
  align-items: center;
  background-color: var(--Cards-Color);
  border-radius: 10px;
  display: flex;
  height: 170px;
  margin-bottom: 5px;
  padding: 15px;
  width: 100%;
}

.cardRecipe img {
  border-radius: 15px;
  width: 150px;
}

.cardRecipe p {
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  width: 50%;
}
