.cardsRecipe {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto 70px;
  width: 90%;
}

.cardRecipe {
  align-items: center;
  background-color: var(--Cards-Color);
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 5px;
  padding: 15px;
  text-decoration: none;
  width: 40%;
}

.cardRecipe div {
  position: relative;
}

.cardRecipe img {
  border-radius: 15px;
  padding-top: 10px;
  width: 75px;
}

.cardRecipe p {
  color: white;
  display: flex;
  font-size: small;
  font-weight: 700;
  left: -10px;
  position: absolute;
  top: -5px;
}
