.drinksContainer {
  align-items: center;
  background-color: var(--Primary-Color);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 360px;
}
