.exploreContainer {
  align-items: center;
  background-color: var(--Primary-Color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 20px;
  width: 100%;
}

.card {
  align-items: center;
  background-color: var(--Cards-Color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 10px auto;
  max-width: 340px;
  padding: 20px;
  text-decoration: none;
  width: 70%;
}

.cardText {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
