.firstSec {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-Color);
  color: white;
}

.firstSec img{
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 350px;
}

.firstSec h2 {
  margin-left: 5px;
}

.firstSec p {
  font-size: 20px;
  margin-left: 5px;
}

.secondSec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--Primary-Color);;
  color: white;
}

.secondSec button {
  background-color: var(--Buttons-Color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  flex: none;
  font-size: small;
  font-weight: 600;
  margin: 10px;
  padding: 10px 7px;
  width: 33%;;
} 

.secondSec span {
  width: 33%;
  background: var(--Cards-Color);
  text-align: center;
  align-self: center;
  border-radius: 10px;
  color: white;
  position: relative;
}

.thirdSec {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-Color);
  color: white;
}

.thirdSec h2 {
  margin-top: 10px;
  margin-left: 5px;
}

.thirdSec ul {
  display: flex;
  flex-direction: column;
  background-color: var(--Cards-Color);
  border-radius: 10px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.thirdSec ul li {
  font-size: 20px;
  margin-left: 10px;
}

.thirdSec ul li label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.thirdSec ul li label input {
  margin-right: 10px;
}

.fourthSec {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-Color);
  color: white;
}

.fourthSec h2 {
  margin-left: 5px;
}

.fourthSec p {
  margin-right: 5px;
  margin-left: 5px;
}

.fifthSec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--Primary-Color);
  color: white;
}

.fifthSec button {
  background-color: var(--Buttons-Color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  flex: none;
  font-size: small;
  font-weight: 600;
  margin: 10px;
  padding: 10px 7px;
  width: 33%;;
}
