.category {
  background-color: var(--Buttons-Color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  flex: none;
  font-size: small;
  font-weight: 600;
  margin: 10px;
  padding: 10px 7px;
  width: 70%;
}

.buttonLink {
  background-color: var(--Buttons-Color);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  width: 100%;
}

.profile {
  align-items: center;
  background-color: var(--Primary-Color);
  color: white;
  display: flex;
  flex-direction: column;
  height: 540px;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
  width: 360px;
}