* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: var(--Primary-Color);
  height: 100vh;
}

:root {
  --Primary-Color: #070706;
  --Cards-Color: #161613;
  --Buttons-Color: #f3820a;
}
