* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: var(--Primary-Color);
  font-family: system-ui, -apple-system, sans-serif;
}

:root {
  --Primary-Color: #070706;
  --Cards-Color: #161613;
  --Buttons-Color: #f3820a;
}
